{{page-title "VerifyQueryParamBehavior"}}
<h1>Welcome!</h1>
<nav>
  <ul>
    <li>
      <LinkTo @route='facesheet'>Facesheet</LinkTo>
    </li>
    <li>
      <LinkTo @route='schedule'>Schedule</LinkTo>
    </li>
  </ul>
</nav>


{{outlet}}
